@model ExoGym.Models.detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detail</h4>
    <hr />
    
        @foreach (var item in ViewBag.details)
        {
            
       <dl class="dl-horizontal">
           <dt>
               @Html.DisplayNameFor(model => model.Name)
           </dt>
           <tr>
           <td>
               @item.Name
           </td>
               </tr>

           <dt>
               @Html.DisplayNameFor(model => model.Mobile)
           </dt>
           <td>@item.Mobile</td>

           <dt>
               @Html.DisplayNameFor(model => model.Address)
           </dt>
           <td>@item.Address</td>

           <dt>
               @Html.DisplayNameFor(model => model.Email)
           </dt>
           <td>@item.Email</td>
       </dl>
    
    }
    </div>

