@model IEnumerable<ExoGym.Models.detail>


<table class="table">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in ViewBag.Userdetails)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Mobile
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Email
            </td>
            <td>
                <img src="@Convert.ToString(ViewBag.Profile)" class="img-fluid rounded-pill" style="width:80px;height:auto" />
            </td>
        </tr>

    }

</table>
