@model IEnumerable<ExoGym.Models.detail>

@{
    ViewBag.Title = "detail";
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in ViewBag.Userdetails)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Mobile
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Email
            </td>
        </tr>

    }

</table>
