
@{
    ViewBag.Title = "Heart";
}



<!DOCTYPE html>
<html>



<body>
    
    <h1 class="head">Yoga </h1>
    <div class="container">
        <ul class="nav nav-tabs" id="b1">
            <li>@Html.ActionLink("All", "Yoga", "Health")</li>
            <li class="active">@Html.ActionLink("Heart Disease", "Heart", "Health")</li>
            <li>@Html.ActionLink("Old", "Old", "Health")</li>
            <li>@Html.ActionLink("Young", "Young", "Health")</li>
            <li>@Html.ActionLink("Maternity", "Maternity", "Health")</li>
        </ul>
        <h6 style="text-align: right;"><b>* B-Beginner, M-intermediate, E-Expert</b></h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8KsyQvwi85Q?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/V-5EGMdkDQU?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wdln9qWYloU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mytWLo8fHbw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/Boat-Pose.jpg">
                    <div class="caption">
                        <h3>Boat Pose</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/Warrior-.jpg">
                    <div class="caption">
                        <h3>Airplane Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/Tree.jpg">
                    <div class="caption">
                        <h3>Tree Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/img/Extended-Puppy-Pose-.jpg">
                    <div class="caption">
                        <h3>Puppy Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="row" id="b2">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="~/img/Kristin-Cat-Cow.jpg">
                        <div class="caption">
                            <h3>Cat and Cow</h3>
                            <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
