<!DOCTYPE html>
<html>



<body>
   
    <h1 class="head">Yoga </h1>
    <div class="container">
        <ul class="nav nav-tabs" id="b1">
            <li class="active">@Html.ActionLink("All", "Yoga", "Health")</li>
            <li>@Html.ActionLink("Heart Disease", "Heart", "Health")</li>
            <li>@Html.ActionLink("Old", "Old", "Health")</li>
            <li>@Html.ActionLink("Young", "Young", "Health")</li>
            <li>@Html.ActionLink("Maternity", "Maternity", "Health")</li>
        </ul>
        <h6 style="text-align: right;"><b>* B-Beginner, M-intermediate, E-Expert</b></h6>
       
         <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/child%20pose.jpg " style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Child pose</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/standing%20mountain.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Standing mountain</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/supported%20squats.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Supported squat </h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/supported%20triangle.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Supported triangle</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/belly%20breathing.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Belly breathing</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
