<!DOCTYPE html>
<html>



<body>
    
     <h1 class="head">Injuries and Remedies </h1>
    <div class="container">
        <ul class="nav nav-tabs" id="b1">
            <li>@Html.ActionLink("Running", "Injuries", "Health")</li>
            <li>@Html.ActionLink("Cycling", "Cycling", "Health")</li>
            <li>@Html.ActionLink("Gym", "Gym", "Health")</li>
            <li class="active">@Html.ActionLink("Sports", "Sports", "Health")</li>
            <li>@Html.ActionLink("Dance Excercises", "Dance", "Health")</li>

        </ul>
        <h6 style="text-align: right;"><b></b></h6>
        <div >
            <div >
                <div class="thumbnail"><img src="~/img/sports1.jpg" style="width=200px;height=200px;">
                    <div class="caption">
                        <h3>Cubital Tunnel Syndrome</h3>
                        <p>This is also known as ulnar neuropathy, and is caused by excessive pressure on the ulnar nerve. Abnormal bone growth in the elbow or intense physical activity increases the pressure on the ulnar nerve. This syndrome is often found in baseball pitchers because of the twisting motion required to throw a slider that causes damage to the delicate ligaments in the elbow. Repeatedly leaning the elbow on hard surfaces or bending the elbow for sustained periods gives rise to this symptom. Sometimes the ulnar nerve snaps back and forth as the elbow is moved, which irritates the nerve. The symptoms of cubital tunnel syndrome include pain and numbness in the elbow, tingling in the ring and little fingers, muscle wasting in the hand, and decreased overall hand grip.<br>Treatment: The doctor may use electromyography as part of the cubital tunnel syndrome treatment, in which electrodes are placed into the muscles and on the skin to identify the area of nerve damage and determine the severity of the condition. If the electromyography reveals just minimal pressure on the ulnar nerve, then the syndrome can be treated conservatively. Use of a splint is also recommended to restrict the movement. If the nerve compression is serious, surgery might be recommended to  simple decompression of the nerve, shift the nerve to the front of the elbow, or move the nerve under a layer of fat.<br>Avoidance Tactics: The first act of prevention is to avoid actions that cause the symptoms. A hand specialist can help find ways to avoid pressure on the nerve in the elbow. Restrictions are placed on lifting and elbow movements. Individuals suffering from this syndrome should avoid leaning on the funny bone. Ergonomic education like nerve-gliding exercises, stretching and strengthening exercises, and the effects of stress on the area can help avoid the injury.</p>
                    </div>
                </div>
            </div>
            <div >
                <div class="thumbnail"><img src="~/img/sports2.png" style="height: 200px;">
                    <div class="caption">
                        <h3>Tennis/ Golf Elbow</h3>
                        <p>Tennis elbow is the inflammation of the tendons on the outer bony prominence of the elbow and the muscles of the forearm. The pain is felt because the muscles and tendons become inflamed from overuse. In the game of tennis, a one-handed backhand with poor form, a late forehand swing that results in bending the wrist, or constantly turning the wrist for more spin on the serve results in tennis elbow symptoms. Golfers also tend to suffer from tennis elbow as pulling the club through the swing causes irritation in the elbow. Medial epicondylitis,  which causes pain  on the inside of the elbow, is common among golfers, baseball pitchers, and tennis players who hit topspin forehands, and weight lifters.<br>Treatment: Tennis elbow doesn’t usually lead to serious complications, unless the condition is left untreated, which could result in loss of motion or loss of function of the elbow and forearm. Resting the elbow and tendon, and putting a cold compress or a heat pack on the elbow helps it to heal. It is also advised to wear a strap, splint, or brace around the forearm to restrict the movement, and speed the healing process of the tendon. Painkillers like Ibuprofen pills, creams, and gels  give relief from pain. Gentle exercises are also recommended to increase the muscle’s strength without any damage.<br>Avoidance Tactics: Avoiding overuse is the simplest prevention tactic for tennis elbow. Avoid using the wrong equipment like a golf club or tennis racket that is too heavy to handle or has a very large grip. Warming up before playing any sport is crucial, especially the ones that will exercise the elbow or arm. Ice the elbow immediately if there is any discomfort after the sports, and stop if you feel any pain during an activity. Avoid or minimize activities that tend to increase and aggravate the pain.</p>
                    </div>
                </div>
            </div>
            <div >
                <div class="thumbnail"><img src="~/img/sports3.jpg" style="height: 200px;">
                    <div class="caption">
                        <h3>Rotator Cuff Tear</h3>
                        <p>A rotator cuff tear is a common fear for pitchers, tennis players, swimmers, and football players. A severe case of this injury could cause a premature end to a player’s career. The rotator cuff is a group of four tendons and muscles that converge around the shoulder joint at the top of the humerus. These tendons and muscles together form a cuff that holds the arm in place, allowing its movement in different directions. The shoulder is a weak joint, so too much stress, or too many fastballs can lead to partial tears and swelling in the tendons of the rotator cuff. Excessive stress could also cause one or more tendons to pull away from the bone or tear in the middle. This injury is characterized by pain in the shoulder and arm which depends on the severity of the tear, snapping sounds while moving the shoulder, weakness and tenderness in the shoulder.<br>Treatment: The hand specialist will conduct a thorough diagnosis to understand the cause of the pain, and formulate the appropriate treatment. The joint needs complete rest for a speedy recovery. Doctors recommend wearing a sling so as to restrict any movement, and give the joint complete rest. Even anti-inflammatory pills or corticosteroid injections are prescribed to help with the intense pain. Individuals can also do range-of-motion exercises that will strengthen the rotator cuff muscles. Strengthening the muscles will help hold the shoulder firmly in place. Physical therapy, ultrasound, moist heat, and electrical muscle stimulation are also recommended as part of the rotator cuff tear treatment. A physical therapist may suggest rehabilitative exercises to strengthen the joint. More serious cases may be referred to an orthopedic surgeon and may require surgery.<br>Avoidance Tactics: The long-term changes that occur in the shoulder joint because of everyday wear and tear cannot be avoided, but the serious rotator cuff tear can be avoided with daily  exercise, which will give strength and flexibility to the shoulder muscles. Avoid sports and other activities that involve forceful falls till the shoulder muscles heal completely. Take frequent breaks in between the physical activities, and ice the shoulder at night to give it some relief.</p>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
