<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga</title>
    <link href="~/Content/bootstrap.min.cs" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/css/Pretty-Footer.css">
</head>

<body>
    
    <h1 class="head">Yoga Asana </h1>
    <div class="container">
        <ul class="nav nav-tabs" id="b1">
            <li class="active">@Html.ActionLink("All", "Yoga", "Health")</li>
            <li>@Html.ActionLink("Heart Disease", "Heart", "Health")</li>
            <li>@Html.ActionLink("Old", "Old", "Health")</li>
            <li>@Html.ActionLink("Young", "Young", "Health")</li>
            <li>@Html.ActionLink("Maternity", "Maternity", "Health")</li>
        </ul>
        <h6 style="text-align: right;"><b>* B-Beginner, M-intermediate, E-Expert</b></h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XMxHTNPPgxM?start=6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8q7GxnIFsQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height: 246px;width: 38%;margin-left: 25px;"></iframe>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Boat-Pose.jpg">
                    <div class="caption">
                        <h3>Boat Pose</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Warrior-.jpg">
                    <div class="caption">
                        <h3>Airplane Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Tree.jpg">
                    <div class="caption">
                        <h3>Tree Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Extended-Puppy-Pose-.jpg">
                    <div class="caption">
                        <h3>Puppy Pose </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-Cat-Cow.jpg">
                    <div class="caption">
                        <h3>Cat and Cow</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-Corpse-Pose-Savasana.jpg">
                    <div class="caption">
                        <h3>Savasana </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-McGee-Bird-Dog.jpg">
                    <div class="caption">
                        <h3>Bird Dog </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-McGee-Cobblers-Pose.jpg">
                    <div class="caption">
                        <h3>Cobbler’s Pose </h3>
                        <p>B:10 Min.<br>M:15 Mins.<br>E:30 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-McGee-Downward-Facing-Dog.jpg">
                    <div class="caption">
                        <h3>Downward Facing Dog</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Kristin-McGee-Sphinx-Pose.jpg">
                    <div class="caption">
                        <h3>Sphinx</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/Tadasana.jpg" style="height: 180px;">
                    <div class="caption">
                        <h3>Mountain Pose  </h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/warrior%202.jpg">
                    <div class="caption">
                        <h3>Warrior II</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/lunge-pose.jpg">
                    <div class="caption">
                        <h3>Lunge Pose</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/plank.jpg">
                    <div class="caption">
                        <h3>Plank </h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:5 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/warrior-1.jpg">
                    <div class="caption">
                        <h3>Warrior</h3>
                        <p>B:5 Min.<br>M:10 Mins.<br>E:15 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/camel-pose.jpg">
                    <div class="caption">
                        <h3>Camel pose </h3>
                        <p>B:1 Min.<br>M:4 Mins.<br>E:10 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/child%20pose.jpg " style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Child pose</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/standing%20mountain.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Standing mountain</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/supported%20squats.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Supportes squat </h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/supported%20triangle.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Supported triangle</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="b2">
            <div class="col-md-3">
                <div class="thumbnail"><img src="~/img/belly%20breathing.jpg" style="height: 180px; width: 190px;">
                    <div class="caption">
                        <h3>Belly breathing</h3>
                        <p>B:1 Min.<br>M:3 Mins.<br>E:6 Mins. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
